In [28]:
import os
import pandas as pd
import numpy as np

In [29]:
os.chdir("/Users/mennatullahalsoudi/Downloads")

In [30]:
os.getcwd

In [31]:
df=pd.read_csv("Reactions (1).csv")

In [32]:
df.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [35]:
df.isna()
df.isna().sum()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
...,...,...,...,...,...
25548,25548,75d6b589-7fae-4a6d-b0d0-752845150e56,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike,2020-06-27 09:46:48
25549,25549,75d6b589-7fae-4a6d-b0d0-752845150e56,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued,2021-02-16 17:17:02
25550,25550,75d6b589-7fae-4a6d-b0d0-752845150e56,NaN,interested,2020-09-12 03:54:58
25551,25551,75d6b589-7fae-4a6d-b0d0-752845150e56,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried,2020-11-04 20:08:31
25552,25552,75d6b589-7fae-4a6d-b0d0-752845150e56,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish,2021-01-04 04:55:11

In [40]:
df["User ID"].replace('', np.nan)

0                                         NaN
1        5d454588-283d-459d-915d-c48a2cb4c27f
2        92b87fa5-f271-43e0-af66-84fac21052e6
3        163daa38-8b77-48c9-9af6-37a6c1447ac2
4        34e8add9-0206-47fd-a501-037b994650a2
                         ...
25548    80c9ce48-46f9-4f5e-b3ca-3b698fc2e949
25549    2bd9c167-e06c-47c1-a978-3403d6724606
25550                                     NaN
25551    5ffd8b51-164e-47e2-885e-8b8c46eb63ed
25552    4edc3d1a-a7d9-4db6-89c3-f784d9954172
Name: User ID, Length: 25553, dtype: object

In [41]:
#Dropping all the none values in the type to keep the data clean
df.dropna(axis="index",how="any",subset=["Type"],inplace=True)

In [42]:
#Dropping the the none values in the userID t avoid any problems in the ML phase
df.dropna(axis="index",how="any",subset=["User ID"],inplace=True)

In [43]:
df

,Unnamed: 0,Content ID,User ID,Type,Datetime
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
5,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4,interested,2020-08-23 12:25:58
...,...,...,...,...,...
25547,25547,75d6b589-7fae-4a6d-b0d0-752845150e56,b6d04982-1509-41ab-a700-b390d6cb4d02,worried,2020-10-31 04:50:14
25548,25548,75d6b589-7fae-4a6d-b0d0-752845150e56,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike,2020-06-27 09:46:48
25549,25549,75d6b589-7fae-4a6d-b0d0-752845150e56,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued,2021-02-16 17:17:02
25551,25551,75d6b589-7fae-4a6d-b0d0-752845150e56,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried,2020-11-04 20:08:31
25552,25552,75d6b589-7fae-4a6d-b0d0-752845150e56,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish,2021-01-04 04:55:11

In [44]:
#Making sure data is clean 
df.isna().sum()

Unnamed: 0    0
Content ID    0
User ID       0
Type          0
Datetime      0
dtype: int64

In [45]:
#Making sure that the all the data is numerical 
df["Unnamed: 0"].sum()

287985721

In [46]:
#Sorting the data by the DATE AND TIME to be more clear in the data visualization 
df["Datetime"] = pd.to_datetime(df["Datetime"])

df = df.sort_values(by="Datetime")

In [47]:
df

,Unnamed: 0,Content ID,User ID,Type,Datetime
15124,15124,a727ed7f-5684-4536-b543-8e8fc93f40b1,b9480379-4b96-412c-8dca-96fff9ae81a3,hate,2020-06-18 08:07:22
23886,23886,edea43f3-1541-4e42-8419-d1cdf749025c,92423e9a-4e8c-49bc-be75-c819912696ce,intrigued,2020-06-18 08:51:33
23566,23566,a8160135-2d55-4240-8f28-fbee5ec84801,0c5b0547-820a-4beb-832e-3162f74ccfa7,scared,2020-06-18 09:13:59
4222,4222,6e418568-a2b9-4d08-b241-06362c96a7f1,fc709c94-7491-4753-ad53-dfee49823a2f,adore,2020-06-18 10:37:41
19420,19420,8f4cea30-10e7-4806-8c01-d78ef6bcbfa8,9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4,want,2020-06-18 11:34:23
...,...,...,...,...,...
20216,20216,c3d1c36d-2ad9-45ce-be49-51c103351e62,324e384a-9963-4d17-94aa-21859ea85062,disgust,2021-06-18 07:41:35
6903,6903,70b0202f-cd58-42fe-acd9-7b2f8cf9e7c6,f46eee2a-6024-4046-a6f4-5232366edb87,like,2021-06-18 07:44:58
17192,17192,18cb1ce7-fb66-4a56-8042-e38c9593ade1,a1290f9f-af93-432d-be86-65840470c621,peeking,2021-06-18 07:52:55
24592,24592,16f8b629-5173-420f-9c8b-577313e9e128,f7785ec1-7383-4815-8206-80de7c05fdf9,worried,2021-06-18 08:01:10
8721,8721,178f85a7-c2d1-4127-94d2-30adf96ae7fd,e2377b94-f06a-49ed-a266-377c4b07e980,dislike,2021-06-18 08:30:29

In [48]:
df.to_csv("Reactions (1).csv")