In [30]:
import os
import pandas as pd
import numpy as np

In [31]:
os.chdir("/Users/mennatullahalsoudi/Downloads")

In [32]:
os.getcwd

In [33]:
df=pd.read_csv("User (1)(2).csv")

In [34]:
df.head()

,Unnamed: 0,Unnamed: 0.1,User ID,Name,Email
0,1,1,95258c36-5b6b-4591-85ee-0c43f503c1d5,Michael Deering,MD@gmail.com
1,2,2,a8229d24-f219-4930-a382-24049a8f73bb,Richard Bain,RB@gmail.com
2,3,3,8f41c07f-db4f-44f3-ae81-1f99cee047eb,Kristi Mccarthy,KM@gmail.com
3,4,4,3af8d78b-55c4-4ac0-8161-7cc3f6ec11c9,Betty Ellis,BE@gmail.com
4,5,5,2bd9c167-e06c-47c1-a978-3403d6724606,Hazel Neville,HN@gmail.com

In [35]:
#Cleaning the email from the wrong syntax

In [36]:
df["Email"].replace("GHbnuothhymw",np.nan,inplace=True)

In [37]:
df["Email"].replace("BPssplwxufql",np.nan,inplace=True)

In [38]:
df["Email"].replace("RMnemqyjpmju",np.nan,inplace=True)

In [39]:
df["Email"].replace("SBhcjcholecn",np.nan,inplace=True)

In [40]:
df["Email"].replace("SHjcmuixgwni",np.nan,inplace=True)

In [41]:
df["Email"].replace("WBwvtnefwtig",np.nan,inplace=True)

In [42]:
df["Email"].replace("VTrgqcnsrvpx",np.nan,inplace=True)

In [43]:
df["Email"].replace("LWsvedxnkdfr",np.nan,inplace=True)

In [44]:
df["Email"].replace("RPbrxoephmar",np.nan,inplace=True)

In [45]:
df["Email"].replace("AFiobiqzxrfh",np.nan,inplace=True)

In [46]:
df["Email"].replace("LMgovskansxq",np.nan,inplace=True)

In [47]:
df["Email"].replace("LSdtqsemuido",np.nan,inplace=True)

In [48]:
df.isna().sum()

Unnamed: 0      0
Unnamed: 0.1    0
User ID         0
Name            0
Email           0
dtype: int64

In [49]:
df.dropna(axis="index",how="any",subset=["Email"],inplace=True)

In [50]:
df.isna().sum()

Unnamed: 0      0
Unnamed: 0.1    0
User ID         0
Name            0
Email           0
dtype: int64

In [51]:
#Making sure that the value is numerical 
df["Unnamed: 0"].sum()

122110

In [52]:
df.to_csv("User (1)(2).csv")

In [55]:
df.to_csv("User (1)(2).csv", index=False)